<h3>Tasks</h3>
<div class="text-muted pb-3">
  <div class="pb-2">Tasks will be updated automatically</div>
  <ul class="list-group">
    {# TODO: use socker to listen tasks update #}
    <li class="list-group-item list-group-item-light">
      <h5>Task#1</h5>
      <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </li>
    <li class="list-group-item list-group-item-light">
      <h5>Task#2</h5>
      <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, provident. Praesentium.</p>
    </li>
  </ul>
</div>
