<h3>Tasks & Hints</h3>
<div class='text-muted pb-3'>
  <p>Get some useful tips here...</p>
  <ul class="list-group">
    {# TODO: Ajax call to refresh tasks and hints #}
    <li class="list-group-item list-group-item-light">
      <h5>Task#1</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </li>
    <li class="list-group-item list-group-item-light">
      <h5>Hint#1</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, provident. Praesentium.</p>
    </li>
  </ul>
</div>
