<h4 class="mb-1">Tasks</h4>
<div class="pb-2 text-muted">Tasks will be updated automatically</div>
<ul class="list-group list-group-flush mb-4">
  {# TODO: use ajax to request tasks update each interval #}
  <li class="list-group-item">
    <h6>#1 - Prepare NWP ensemble track</h6>
    <p class="mb-2">All products from ECMWF, EC EPS, JMA, UKMO and NCEP are available.</p>
    <u>Prepare the NWP 5-model weighted ensemble track based on 12Z model tracks on 22 August.</u>
  </li>
  <li class="list-group-item">
    <h6>#2 - Interpret wind shear, sea surface temperature and ocean heat content for intensity change</h6>
    <p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, provident. Praesentium.</p>
  </li>
</ul>
<div></div>
