{% extends "layout.jinja" %}
{% block content %}
  <div class="row">
    <div class="col-lg-8 pb-4">
      <h1>Case: {{ case.title }}</h1>
      <p>The current time is -- <span class="drill-clock"></span></p>
      <nav>
        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-log-tab" data-toggle="tab" href="#nav-log" role="tab" aria-controls="nav-log" aria-selected="false">Appreciation Log</a>
          <a class="nav-item nav-link" id="nav-links-tab" data-toggle="tab" href="#nav-links" role="tab" aria-controls="nav-links" aria-selected="false">Links & Resources</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-log" role="tabpanel" aria-labelledby="nav-log-tab">
          <div class="custom-md">{{ log.html|safe }}</div>
        </div>
        <div class="tab-pane fade" id="nav-links" role="tabpanel" aria-labelledby="nav-links-tab">{% include "sim/components/links.jinja" %}</div>
      </div>
    </div>
    <div class="col-lg-4 pt-2">
      {% include "sim/components/tips.jinja" %}
      <a href="{{ url_for('core.ender') }}" class="btn btn-danger btn-lg btn-block">Terminate</a>
      {# Put other misc under here, e.g. buttons #}
    </div>
  </div>
{% endblock content %}

{% block js %}
  {{ moment.include_moment(local_js=url_for('static', filename='moment/moment.min.js')) }}
  <script src="{{ url_for('static', filename='moment/refresh.js') }}"></script>
  <script src="{{ url_for('static', filename='helpers/tab_session.js') }}"></script>
{% endblock js %}
