<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <span class="navbar-brand mr-4">WxSim</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{{ url_for('core.starter') }}">Home</a>
          <a class="nav-item nav-link" href="{{ url_for('admin.dashboard') }}">Dashboard</a>
        </div>
        <div class="navbar-nav">
          {% if 'userlog' in session %}
            <a href="{{ url_for('core.drill') }}" class="badge badge-pill badge-danger badge-drill">Drilling in progress</a>
            <div class="nav-item text-white drill-clock"></div>
          {% endif %}
          {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{ url_for('admin.logout') }}">Logout</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
