<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block page_title %}
    Weather Case Simulator
    {% endblock %}
  </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  {% block css %}{% endblock %}
</head>
<body>
  {% include "header.jinja" %}
  <main role="main" class="container">
    {% with messages=get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>

  <!-- JS -->
  <script src="{{ url_for('static', filename='bootstrap/jquery-3.4.0.slim.min.js') }}" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
  {{ moment.include_moment(local_js=url_for('static', filename='moment/moment.min.js')) }}

  {% block js %}{% endblock %}
</body>
</html>
